.nav-act {
  color: #039be5 !important;
}

.nav-op {
  color: black;
  padding: 0.5rem;
  text-decoration: none;
}

.reg-text {
  color: white;
  font-weight:500; 
  font-size: 16px;
}

.reg-but {
  border: none;
  background-color: coral;
  border: 2px solid white;
  border-radius: 15px 5px;
  box-shadow: rgb(0 0 0 / 35%) 2px 0px 10px 2px;
}