<app-header></app-header>
<img src="../../../../assets/course/courses.png" alt="" class="w-100" height="500px !important">

<div class="d-flex justify-content-center my-5" *ngFor="let course of courses">
  <div class="card mb-3" style="width: 95%">
    <div class="row g-0">
      <div class="col-lg-6 my-auto">
        <img
          src={{course.url}}
          alt="tvv"
          class="img-fluid rounded-start" 
        />
      </div>
      <div class="col-lg-6 my-auto">
        <div class="card-body">
          <h2 class="card-title text-center mb-3">{{course.title}}</h2>
          <p class="card-text" style="text-align: justify;">{{course.description}}</p>
        </div>
      </div>
    </div>
  </div> 
</div>

<app-footer></app-footer>